body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background: red;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.mainTitle {
    margin: 0 0 0 2%;
}

.GAME {
    background: white;
    padding: 0.4%;
    margin: 0 0 0 0.3%;
    border-radius: 10px;
}

main {
    margin: 8% 20% 0 20%;
}

.scoreBoard {
    text-align: center;
    border: 2px solid #606060;
    border-radius: 4px;
}

.points {
    font-size: 400%;
}
.pointsOnTheRight {
    position: fixed;
    right: 3%;
    font-size: 170%
}

.div1 {
    width: 80%;
    height: 400px;
    margin: 5% auto 0 auto;
    background: blue;
}

.mainButton {
    color: White;
    background: #3399FF;
    border: 2px solid grey;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
    font-size: 500%;
    box-shadow: 0 0 5px black;
}
.mainButton:hover{
    box-shadow: 0 0 10px red;
}
.mainButton:active {
    background: #0080FF;
}
.clickingLevel {
    font-size: 30%;
}


.upgradesBig, .auto {
    margin: 10% 25% 10% 25%;
    text-align: center;
    border: 1px solid black;
    padding: 8% 0 8% 0;
    background: #f3f2f3;
}
.upgradesBig:hover {
    background: #dddddd
}
.upgradeButton {
    padding: 5% 8% 5% 8%;
    font-size: 150%;
    margin: 2% 0 0 0;
    border: 0;
    background: #cac9ca
}
.upgradeButton:hover {
    background: #0c3597;
    color: white;
}


.auto {
    margin: 10% 20% 10% 20%;
    text-align: center;
    border: 1px solid black;
    padding: 8% 0 8% 0;
    background: #f3f2f3;
}
.autoBuy {
    padding: 5% 8% 5% 8%;
    font-size: 150%;
    margin: 5% 0 0 0;
    border: 0;
    background: #cac9ca
}
.autoBuy:hover {
    background: #0c3597;
    color: white;
}