#main {
    text-align: center;
}

#gameBody {
    padding: 1px;
    border: solid black 2px;
    display: flex;
    width: 186px;
    flex-wrap: wrap;
}
.gameSquare {
    display: block;
    border: solid black 1px;
    width: 60px;
}
