body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    border-top: solid black 5px;
    background: rgb(230, 255, 255);
}

button {
    cursor: pointer;
}

#titleBox {
    display: flex;
    align-items: center;
    margin: 5em 0 0 5%;
}

#mathLogo {
    width: 10%;
    height: 10%;
}

#main {
    text-align: center;
    width: 40%;
    margin: 5em auto 0 auto;
    border: solid black 4px;
    position: relative;
}

#startButton {
    font-size: 150%;
    padding: 0.7em 1em 0.7em 1em;
    margin: 0.2em 0 1em 0;
}

#notTooImportant {
    font-size: 70%;
}

#answerBox {
    display: flex;
    justify-content: space-evenly;
    margin: 6em 0 2em 0;
}

.answerButton {
    padding: 1em;
    border-radius: 5px;
    border: solid black 1px;
    padding: 0.7em 2em 0.7em 2em;
    font-size: 200%;
}

#timer {
    position: absolute;
    top: 13%;
    left: 10%;
    margin: 0;
    padding: 0;
    font-size: 140%;
    font-weight: bold;
    font-style: italic;
}

#readySetGoDiv {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;   
}

#readySetGoH1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 1.5em 1em 1.5em;
    color: rgb(220, 238, 117);
    margin: 0;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
}

#restartButton {
    font-size: 130%;
    padding: 0.5em 1em 0.5em 1em;
}

#bactToMenuButton {
    background-color: rgb(230, 255, 255);
    border: 0;
    font-size: 115%;
    padding: 1em 1.5em 1em 1.5em;
}

#difficultContainer {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 5%;
    width:auto;
}