body {
    margin: 0;
}

#photo {
    width: 45%;
    box-shadow: 20px 10px 30px black;
    z-index: 1;
}

main {
    text-align:center;
    margin: 140px 0 0 0;
    display: flex;
    justify-content: center;
}

.positionRelative {
    position: relative;
    
}

.gray-container {
    position: absolute;
    width: 45%;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Noto Sans JP', sans-serif;
    background: rgba(00, 00, 00, 0.5);
    color: white;
    padding: 0 0 10px 0;
}

.photo-title {
    padding: 0 0 0 10px;
}

.photo-description  {
    padding: 0 0 0 10px;
}

aside {
    background: lightgrey;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    box-shadow: 0px 2px 3px  black;
    z-index: 2;
}

button {
    background: lightgray;
    border: 0;
    cursor: pointer;
    height: 350px;
    width: 70px;
}

.upsideDownArrow {
    transform: rotate(0.5turn);
}

.thumbnailContainer {
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 34.5%;
    bottom: 10%;
}

.thumbnailContainer2 {
    position: relative;
}

.thumbnail {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: 4px solid lightgray;
    border-radius: 5px;
    margin: 0 20px 0 0;
    box-shadow: 0px 10px 5px grey;
}

.hiddenText {
    position: absolute;
    width: 70px;
    background: #404040;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    top: -48.5px;
    left: 1px;
    display: none;
}

.thumbnail:hover + .hiddenText {
    display: block;
}
