<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop</title>

    <link rel="stylesheet" href="./bookshopStyle.css">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="outerDiv">

        <header id="header" v-if="atShop">
            <h3 id="usernameInHeader">{{ currentAccount.un }}</h3>
            <div>
                <img src="./imgs/cart-icon.jpg" alt="cart" id="cartIcon" :class="addedToCartClass" @click="toCart">
                <img src="./imgs/account-icon2.png" alt="account" id="accountIcon" @click="accMenuClicked">
            </div>
        </header>
        <div v-if="accOpened" id="accMenu" @mouseover="longerCounting">
            <p id="logOutP" @click="logOut">« Log Out</p>
        </div>

        <main id="main">
            <div id="registerBlock" v-if="atRegister">
                <img src="./imgs/arrow-icon.webp" alt="back" id="registerBackButton" @click="backToSignIn">
                <h2 class="registerh2Mobile">All you need is a username and a password</h2>
                <label for="registerUsername">Your Username:</label><br>
                <input type="text" class="textInput" id="registerUsername"><br>
                <label for="registerPassword">Your Password:</label><br>
                <input type="password" id="registerPassword" class="textInput"><button @click="showPw('registerPassword')" class="showTextButton"><img src="./imgs/lock-icon.jpg" alt="lock" style="width: 15px"></button><br>
                <label for="pwRepeat">Password Again:</label><br>
                <input class="textInput" type="password" id="registerPasswordRepeat"><button @click="showPw('registerPasswordRepeat')" class="showTextButton"><img src="./imgs/lock-icon.jpg" alt="lock" style="width: 15px"></button><br>
                <input type="checkbox" id="registerCheckbox" checked="true"><label for="registerCheckbox">Sign Me in</label><br>
                <button @click="registerHappened" class="submitButton">Register</button>
                <p class="alert" id="registerAlert"></p>
            </div>
            <sign-in :atsignin="atSignIn" @show-pw="showPw" @log-in="logInHappened" @register="registerClicked"></sign-in>
            <div v-if="atShop" id="theShop">
                <div id="bookIconsOuterBox" v-if="noBookSelected">
                    <div v-for="(book, index) in books" class="bookIconBox" :key="index">
                            <img :src="book.src" alt="img" class="bookIcon">
                        <p>{{ book.title }}</p>
                        <p :id="book.id" class="showBookLink" style="margin: 0;" @click="showBookClicked">Look »</p>
                    </div>
                </div>
                <div id="showBookOuter" v-if="bookSelected">
                    <img src="./imgs/arrow-icon.webp" alt="back" id="simpleBackButton" @click="backToBooks">
                    <div id="showBookInner">
                        <div id="bookIconBigDiv">
                            <img :src="currentBook.src" alt="book" id="bookIconBig">
                        </div>
                        <div id="showBookDetails">
                            <h2>{{ currentBook.title }}</h2>
                            <h3 style="color: black;">{{ currentBook.price }} Ft</h3>
                            <input type="number" id="bookNumInput" value="1" min="1" max="15" >
                            <button class="submitButton" @click="addToCart" :class="addedToCartClass" :disabled="addedToCartClass">Put to Cart</button>
                            <p class="alert" id="addToCartAlert"></p>
                        </div>
                    </div>
                </div>
                <div id="cart" v-if="seeCart">
                    <img src="./imgs/arrow-icon.webp" alt="back" id="simpleBackButton" @click="backToBooks">
                    <div v-if="!cartIsEmpty">
                        <div v-for="book in cart" class="cartRowOuter">
                            <div class="cartRowInner innerCartRowFirst">
                                <img src="./imgs/x-icon.webp" alt="Delete" class="deleteFromCartX" @click="removeBookFromCart" :id="book.id">
                                <h4 style="margin: 0;">{{ book.title }}</h4>
                            </div>
                            <div class="cartRowInner innerCartRowSecond">
                                <p>{{ book.quantity }}</p>
                                <p>{{ book.price }} Ft</p>
                            </div>
                        </div>
                        <div class="cartRowOuter" id="cartAll">
                            <h3>All:</h3>
                            <h4>{{ totalPrice }} Ft</h4>
                        </div>
                    </div>
                    <h3 v-else>Your Cart is empty</h3>
                </div>
            </div>
        </main>

    </div> 

    <!--Import main-->
    <script src="bookshopMain.js"></script>
    <!--Import components-->
    <script src="./components/sign-in.js"></script>
    <!--Mount App-->
    <script>
        const mountedBookShop = bookShop.mount("#outerDiv")
    </script>
</body>
</html>