body {
    margin: 0;
    font-family: "Saira", "sans-serif";
    background-image: url("./imgs/colorful-img-noborder.jpg");
    background-size: 100%;
}
button:hover {
    cursor: pointer;
}

header {
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ff3300;
}
main {
    margin: 50px auto 0 auto;
    width: 80%;

}

#signIn, #registerBlock {
    text-align: center;
    padding: 100px 0 0 0;
}
.textInput {
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
.submitButton {
    font-family: "Saira", "sans-serif";
    padding: 5px 8px;
    border-radius: 5px;
    border: 0;
    margin: 10px 0 0 0;
}
.alert {
    color: rgb(255, 30, 30);
    font-style: italic;
}
#registerLink:hover {
    color: rgb(30, 100, 255);
    cursor: pointer;
}
.showTextButton {
    position: relative;
    right: 32px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: white;
}
#passwordInput, #registerPassword, #registerPasswordRepeat {
    margin-left: 30px;
}